# **Ejercicio 1**
Contenido del dataset: Candidatos a púlsar obtenidos mediante la exploración HTRU. Los púlsares son un tipo de estrella, de considerable interés científico. Los candidatos deben estar clasificados en clases pulsar y no pulsar para facilitar el descubrimiento.
El ejercicio consiste obtener un modelo de clasificación para clasificar en pulsar (clase positiva) y no pulsar (clase negativa).
El dataset está en formato csv, contiene 8 atributos y la clase. No aparecen los nombres de los atributos en la primera línea del dataset. En el código suministrado se resuelve este problema.

*   URL: https://archive.ics.uci.edu/ml/datasets/HTRU2
*   URL Dataset: https://archive.ics.uci.edu/ml/machine-learning-databases/00372/HTRU2.zip

**Tomando como base el ejemplo1 de los suministrados en clase**, implementar un clasificador basado en el descenso de gradiente estocástico (SGDClassifier), que contenga los siguientes apartados:
*   Uso de StandardScaler en el preprocesamiento.
*   Uso de train_test_split para obtener conjunto de entrenamiento y test. Usar opción stratify ya que las clases están desbalanceadas,
*   Uso de make_pipeline para crear un "pipe", que contenga el preprocesamiento y el clasificador.
*   Obtener matriz de confusión en texto y gráfica. Así como el accuracy, precisión, recall y f1.
*   Obtener curva ROC y su área.
*   Obtener curva presición recall.
*   Escribir al final una celda de texto resumiendo los pasos que se han dado y los resultados obtenidos.
Utilizando el mismo dataset implementar clasificadores basados en Regresión Logística, SVM lineal y K vecinos más cercanos. Realizando

Toda la parte del descarga y preparación del dataset se suministra en este archivo.

In [ ]:
import pandas as pd

In [ ]:
#https://archive.ics.uci.edu/ml/datasets/HTRU2   este es bueno para usar en la práctica  https://archive.ics.uci.edu/ml/machine-learning-databases/00372/

In [ ]:
%%bash
wget https://archive.ics.uci.edu/ml/machine-learning-databases/00372/HTRU2.zip
unzip HTRU2.zip

Archive:  HTRU2.zip
  inflating: HTRU_2.csv
  inflating: HTRU_2.arff
  inflating: Readme.txt

--2022-12-20 07:46:41--  https://archive.ics.uci.edu/ml/machine-learning-databases/00372/HTRU2.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1563015 (1.5M) [application/x-httpd-php]
Saving to: ‘HTRU2.zip’

     0K .......... .......... .......... .......... ..........  3% 2.46M 1s
    50K .......... .......... .......... .......... ..........  6% 5.00M 0s
   100K .......... .......... .......... .......... ..........  9% 4.91M 0s
   150K .......... .......... .......... .......... .......... 13% 5.37M 0s
   200K .......... .......... .......... .......... .......... 16% 48.5M 0s
   250K .......... .......... .......... .......... .......... 19% 64.6M 0s
   300K .......... .......... .......... .......... .......... 22% 54.1M 0s
   350K .......... .......... .......... .......... .......... 26% 7.24M 0s
   400K .......... .......... .......... .......... .......... 29% 40.7M 0s
   450K .......... .......... .......... .......... .......... 32% 50.8M 0s
   500K .......... .......... .......... .......... .......... 36% 60.9M 0s
   550K .......... .......... .......... .......... .......... 39% 60.4M 0s
   600K .......... .......... .......... .......... .......... 42% 69.9M 0s
   650K .......... .......... .......... .......... .......... 45% 27.8M 0s
   700K .......... .......... .......... .......... .......... 49% 36.5M 0s
   750K .......... .......... .......... .......... .......... 52% 21.2M 0s
   800K .......... .......... .......... .......... .......... 55% 72.7M 0s
   850K .......... .......... .......... .......... .......... 58% 83.5M 0s
   900K .......... .......... .......... .......... .......... 62%  115M 0s
   950K .......... .......... .......... .......... .......... 65%  105M 0s
  1000K .......... .......... .......... .......... .......... 68%  110M 0s
  1050K .......... .......... .......... .......... .......... 72%  108M 0s
  1100K .......... .......... .......... .......... .......... 75% 51.6M 0s
  1150K .......... .......... .......... .......... .......... 78% 62.8M 0s
  1200K .......... .......... .......... .......... .......... 81% 55.9M 0s
  1250K .......... .......... .......... .......... .......... 85% 73.1M 0s
  1300K .......... .......... .......... .......... .......... 88% 55.9M 0s
  1350K .......... .......... .......... .......... .......... 91% 67.9M 0s
  1400K .......... .......... .......... .......... .......... 94% 62.1M 0s
  1450K .......... .......... .......... .......... .......... 98% 60.7M 0s
  1500K .......... .......... ......                          100% 69.4M=0.08s

2022-12-20 07:46:41 (19.2 MB/s) - ‘HTRU2.zip’ saved [1563015/1563015]

In [ ]:
htru2 = pd.read_csv("/content/HTRU_2.csv", header = 0, names = ["MEAN_IP", "SD_IP", "EK_IP", "S_IP", "MEAN_DN-SNR", "SD_DM-SNR", "EK_DM-SNR", "S_DM-SNR", "label"])
#Para añadir nombres a los atributos cuando no aparecen en el archivo csv

In [ ]:
htru2.head()

,MEAN_IP,SD_IP,EK_IP,S_IP,MEAN_DN-SNR,SD_DM-SNR,EK_DM-SNR,S_DM-SNR,label
0,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
1,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
2,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
3,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0
4,93.570312,46.698114,0.531905,0.416721,1.636288,14.545074,10.621748,131.394004,0

In [ ]:
htru2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17897 entries, 0 to 17896
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   MEAN_IP      17897 non-null  float64
 1   SD_IP        17897 non-null  float64
 2   EK_IP        17897 non-null  float64
 3   S_IP         17897 non-null  float64
 4   MEAN_DN-SNR  17897 non-null  float64
 5   SD_DM-SNR    17897 non-null  float64
 6   EK_DM-SNR    17897 non-null  float64
 7   S_DM-SNR     17897 non-null  float64
 8   label        17897 non-null  int64
dtypes: float64(8), int64(1)
memory usage: 1.2 MB

In [ ]:
htru2_labels = htru2["label"] #Guardamos etiquetas aparte

In [ ]:
htru2_data = htru2.drop("label", axis = 1) #Eliminamos la etiqueta

In [ ]:
htru2_labels = (htru2_labels == 1) #Cambiamos la etiqueta/clase de 0/1 a True/False

In [ ]:
htru2_labels.head()

0    False
1    False
2    False
3    False
4    False
Name: label, dtype: bool

In [ ]:
htru2_labels.value_counts() #Como se puede ver, las clases están desbalanceadas y habrá que tenerlo en cuenta

False    16258
True      1639
Name: label, dtype: int64